ul {
	list-style-type: none;
}

li input {
    /*display: none;*/
}

li.edit span {
    /*display: none;*/
}

li.edit input {
    /*display: initial;*/
}

.btn-info {
	color:white;
}

.btn.active, .btn:active {
   background-color: #3A83C2;
}

li.droplist.active {
	background-color: #3A83C2;
}

.btn.active a {
	color:white;
	text-decoration: none;
}

li.dropList a:hover {
	color:blue;
}

.btn:hover {
	color:blue;
}

.btn.active:hover a, .btn:hover a {
	color:blue;
	text-decoration: none;
}

#listOBelts button {
	text-align: center;
	width:10em;
}

#firstNameData, #lastNameData, #emailData, #beltData, #IDArtistData, #ArtistNumber, #artistName, #artistBelt {
	text-align: center;
	width:10em;
}

.dropdown-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
    margin: 0;
    padding:0;
}

.aboutInformation {
	/* top | horizontal | bottom */
	padding: 1em 200px 0;
}

.classInfo {
	padding-left: 10px;
}

.aboutList {
	text-align: left;
  color: #39B3D7;
  font-size: 1.5em
}

.dropList {
	text-align: left;
	color: #39B3D7;
	font-size: 1em;
}

.dropdown-menu {
  min-width:112px;
  width:100%;
}

.dropList button {
	width: 110px;
	border:1px black solid;
}

.footer, .footer a {
	color:red;
	font-size: 8px;
	text-decoration: none;
}

.TKDlist {
	text-align:left;
	font-size: 10px;
}

.beltList {
	color:red;
}